extends layout

block content
    h1 FMG Bot - Uso privado

    if !isLoaded
        p Nada para mostrar :'v
    else
        hr
        section
            h2 Canales
            p En construcción
            each channel in channels
                button(disabled=true) Borrar mensajes de #{channel.name}